@model Matriculas.Web.Models.Inscription

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css"> <br />
<h1>Details</h1>

<div>
    <h4>Inscription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateofbirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentCellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"> <i class="fas fa-pencil" > </i></a> |
   <a asp-action="Index"> <i class="fas fa-arrow-left" > </i> </a> 
</div>
